@using IBP.Models;
@using IBP.Services;
@{
    Layout = "";
    Dictionary<string, WorkorderTypeInfoModel> WorkOrderTypeList = WorkorderTypeInfoService.Instance.GetWorkOrderDictionary(false);
    UserGroupPremissionDomainModel groupInfo = UserGroupInfoService.Instance.GetUserGroupDomainByGroupId(Request.QueryString["gid"], false);
}

<div class="pageContent">
	
	<form method="post" action="/UserMgr/DoUpdateUserGroupInfo" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<div class="pageFormContent" layoutH="58">
            <input type="hidden" name="groupId" value="@groupInfo.UserGroupInfo.UserGroupId" />
			<div class="unit">
				<label>用户组名称：</label>
				<input type="text" name="groupName" value="@groupInfo.UserGroupInfo.GroupName" size="30" minlength="3" maxlength="10" class="required" />
			</div>
			<div class="unit">
				<label>描述信息：</label>
				<textarea name="groupDesc" cols="90" rows="1">@groupInfo.UserGroupInfo.Description</textarea>
			</div>
            <div class="unit">
	            <div class="tabs" currentIndex="0" eventType="click" style="margin-right:10px;">
		            <div class="tabsHeader">
			            <div class="tabsHeaderContent">
				            <ul>
                                <li><a href="javascript:;"><span>呼叫中心</span></a></li>
                                <li><a href="javascript:;"><span>业务中心</span></a></li>
                                <li><a href="javascript:;"><span>订单中心</span></a></li>
                                <li><a href="javascript:;"><span>工单中心</span></a></li>
				            </ul>
			            </div>
		            </div>
		            <div class="tabsContent" style="height:365px; background-color:White;">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div>
                            <fieldset style="margin-bottom:15px">
                                <legend>工单处理权限</legend>
                                @{
                                    if(WorkOrderTypeList != null)
                                    {
                                        foreach(WorkorderTypeInfoModel item in WorkOrderTypeList.Values)
                                        {
                                            <fieldset style="margin-bottom:15px">
                                                <legend>@item.TypeName</legend>
                                                @{
                                                    if (groupInfo.WorkOrderPremissionList.ContainsKey(item.WorkorderTypeId) && groupInfo.WorkOrderPremissionList[item.WorkorderTypeId].CanSelect == 0)
                                                    {
                                                        <label><input type="checkbox" name="wopBox" checked="checked" value="@("WORKORDER_" + item.WorkorderTypeId + "_SELECT")" />查询</label>
                                                    }
                                                    else
                                                    {
                                                        <label><input type="checkbox" name="wopBox" value="@("WORKORDER_" + item.WorkorderTypeId + "_SELECT")" />查询</label>
                                                    }
                                                    if (groupInfo.WorkOrderPremissionList.ContainsKey(item.WorkorderTypeId) && groupInfo.WorkOrderPremissionList[item.WorkorderTypeId].CanProcess == 0)
                                                    {
                                                        <label><input type="checkbox" name="wopBox" checked="checked" value="@("WORKORDER_" + item.WorkorderTypeId + "_PROCESS")" />处理</label>
                                                    }
                                                    else
                                                    {
                                                        <label><input type="checkbox" name="wopBox" value="@("WORKORDER_" + item.WorkorderTypeId + "_PROCESS")" />处理</label>
                                                    }
                                                    if (groupInfo.WorkOrderPremissionList.ContainsKey(item.WorkorderTypeId) && groupInfo.WorkOrderPremissionList[item.WorkorderTypeId].CanClose == 0)
                                                    {
                                                        <label><input type="checkbox" name="wopBox" checked="checked" value="@("WORKORDER_" + item.WorkorderTypeId + "_CLOSE")" />关闭</label>
                                                    }
                                                    else
                                                    {
                                                        <label><input type="checkbox" name="wopBox" value="@("WORKORDER_" + item.WorkorderTypeId + "_CLOSE")" />关闭</label>
                                                    }
                                                    if (groupInfo.WorkOrderPremissionList.ContainsKey(item.WorkorderTypeId) && groupInfo.WorkOrderPremissionList[item.WorkorderTypeId].CanDelete == 0)
                                                    {
                                                        <label><input type="checkbox" name="wopBox" checked="checked" value="@("WORKORDER_" + item.WorkorderTypeId + "_DELETE")" />删除</label>
                                                    }
                                                    else
                                                    {
                                                        <label><input type="checkbox" name="wopBox" value="@("WORKORDER_" + item.WorkorderTypeId + "_DELETE")" />删除</label>
                                                    }
                                                    if (groupInfo.WorkOrderPremissionList.ContainsKey(item.WorkorderTypeId) && groupInfo.WorkOrderPremissionList[item.WorkorderTypeId].IsManage == 0)
                                                    {
                                                        <label><input type="checkbox" name="wopBox" checked="checked" value="@("WORKORDER_" + item.WorkorderTypeId + "_MANAGE")" />完全控制</label>
                                                    }
                                                    else
                                                    {
                                                        <label><input type="checkbox" name="wopBox" value="@("WORKORDER_" + item.WorkorderTypeId + "_MANAGE")" />完全控制</label>
                                                    }
                                                 }
                                            </fieldset>                                            
                                        }
                                    }
                                }
                            </fieldset>
                        </div>
		            </div>
		            <div class="tabsFooter">
			            <div class="tabsFooterContent"></div>
		            </div>
	            </div> 
            </div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>