@using IBP.Models;
@using IBP.Services;
@using IBP.Common;
@{
    Layout = "";
    string salesOrderId = Request.QueryString["sid"];
    string pagename = Request.QueryString["page"];

    SalesOrderDomainModel SalesorModel = SalesOrderInfoService.Instance.GetSalesorderDomainModelById(salesOrderId, false);
    CustomerDomainModel Customer = CustomerInfoService.Instance.GetCustomerDomainModelById(SalesorModel.BasicInfo.CustomerId, false);

    CustomDataDomainModel Recoverexception = CustomDataInfoService.Instance.GetCustomDataDomainModelByName("回收异常类型", false);

    CustomDataDomainModel Logisticscompany = CustomDataInfoService.Instance.GetCustomDataDomainModelByName("配送公司", false);
    CustomDataDomainModel SaleCity = CustomDataInfoService.Instance.GetCustomDataDomainModelByName("销售城市", false);
    }
<div class="pageContent">
	
	<form method="post" action="/OrderCenter/DoSalesOrderRecover" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="orderId" value="@salesOrderId" />
        <input type="hidden" name="page" value="@pagename" />
        <div class="pageFormContent" layoutH="58">
           <div class="information02">
             <h2>销售订单【@SalesorModel.SalesorderCode】协议回收操作</h2> 
             <div class="New_box02">
              <dl>
                  <span>
                    <dd>客户姓名：</dd>
                    <dt><input  type="text" name="CustomerName"readonly="readonly" class="customPhone" value="@Customer.BasicInfo.CustomerName"  /></dt>
                  </span>
                  <span>
                    <dd>收货人：</dd>
                    <dt><input type="text" name="DeliveryReceiveCustomerName" readonly="readonly"class="customPhone" value="@SalesorModel.BasicInfo.DeliveryReceiveCustomerName"  /></dt>
                  </span>
                  <span>
                    <dd>收货人电话：</dd>
                    <dt><input type="text" name="DeliveryReceivePhonenumber"readonly="readonly"class="customPhone" value="@SalesorModel.BasicInfo.DeliveryReceivePhonenumber" /></dt>
                  </span>
                   </dl>
                   <dl>
                <span>
                    <dd>发货日期：</dd>
                    <dt><input type="text" name="DeliveryTime"readonly="readonly" class="customPhone" value="@(SalesorModel.BasicInfo.DeliveryTime)" /></dt>
                  </span>
                   <span>
                    <dd>物流公司：</dd>
                   <dt><input type="text" name="DeliveryCompanyId"readonly="readonly" class="customPhone" value="@((SalesorModel.BasicInfo.DeliveryCompanyId == null) ? "" : (Logisticscompany.ValueList.ContainsKey(SalesorModel.BasicInfo.DeliveryCompanyId) ? Logisticscompany.ValueList[SalesorModel.BasicInfo.DeliveryCompanyId].DataValue : ""))" /></dt>

                   </span>
                   <span>
                    <dd>物流单号：</dd>
                    <dt><input type="text" name="DeliveryOrderCode"readonly="readonly" class="customPhone" value="@(SalesorModel.BasicInfo.DeliveryOrderCode)" /></dt>
                  </span>
                  </dl>
                 <dl>                    
                 <span style="width:260px">
                    <dd>付款方式：</dd>
                    <dt style="width:130px"><input style="width:130px" type="text" name=" pay_card_number"readonly="readonly" class="customPhone" value=" @(SalesorModel.OrderPaytypeName)"  /></dt>
                  </span>
                   <span>
                    <dd>开卡地区：</dd>
                    <dt>@{
                        if (SalesorModel.CommuniationPackageList != null)
                        {
                            string OpeningCity="";
                            foreach (SalesorderCommuniationpackageInfoModel communiationPackageInfo in SalesorModel.CommuniationPackageList.Values)
                            {
                                OpeningCity = SaleCity.GetCustomDataValueByValueId(communiationPackageInfo.OpeningCityId);
                            }
                            <input type="text" name="OpeningCity"readonly="readonly" class="customPhone" value="@(OpeningCity)" />

                        }
                     
                        }
                        </dt>
                  </span>
                </dl>
                <dl style="height: 60px;">
                    <dd>地址：</dd>
                    <dt><textarea name="DeliveryAddress" readonly="readonly" cols="50" rows="2"style="width:518px;">@SalesorModel.BasicInfo.DeliveryAddress</textarea></dt>
              </dl>
             <dl>
                    <dd>请选择：</dd>
                    <p><input type="radio" value="0" checked name="opType" custjs="exceptionMgr"  />回收成功
                    <input type="radio" value="1" name="opType" custjs="exceptionMgr" />回收异常</p>
             </dl>
             <div id="Divexception"  class="hideClass">
                <dl>
                  <dd>异常原因：</dd>
                  <dt>
                   <select name="exceptionType" >
                    <option value="">请选择</option>
                         @{
                             if (Recoverexception != null && Recoverexception.ValueList.Count > 0)
                             {
                                 foreach (CustomDataValueDomainModel item in Recoverexception.ValueList.Values)
                                 {
                            @:<option value="@item.ValueId">@item.DataValue</option>
                            }
                             }
                        }
                    </select>
                  </dt>
                </dl><dl style="height: 75px;">
                    <dd>备注：</dd>
                    <dt><textarea name="opExceptionDesc" cols="50" rows="3"style="width:518px;"></textarea> </dt>
                </dl>
                </div>
             </div>
          </div>

		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>
