@using IBP.Common;
@using IBP.Models;
@using IBP.Services;
@{
    Layout = "";
    CustomerExtAttributesModel attInfo = (Request.QueryString["id"] == null) ? null : CustomerExtAttributesInfoService.Instance.GetCustomerAttributeById(Request.QueryString["id"].ToString(), true);
    Dictionary<string, CustomerAttributeGroupInfoModel> model = CustomerAttributeGroupInfoService.Instance.GetCustomeGroupInfoList(false);

    }


<div class="pageContent">
	<form method="post" action="/CallCenter/DoUpdatecustomerAttribute" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="56">
            <input type="hidden" value="@attInfo.ExtAttributeId" name="extAttributeId" />
            <input type="hidden" value="@attInfo.SortOrder" name="sortOrder" />
             <input type="hidden" value="@attInfo.AttributeName" name="tableName" />

			<div class="unit">
				<label>产品类型属性名称：</label>
				<input name="attributeName" class="required" type="text" size="30" value="@attInfo.AttributeName" />
			</div>
            <div class="unit">
				<label>属性所属分组名称：</label>

                <select name="groupName" class="required">
                 <option value="">请选择</option>'
                   @{
                       if (model != null)
                        {
                            foreach (CustomerAttributeGroupInfoModel item in model.Values)
                            {
                                <option value="@item.GroupId" @CommonUtil.SetComboxSelected(item.GroupId, attInfo.GroupId)>@item.GroupName</option>
                            }
                        }
                   }
				</select>
			
			</div>
            <div class="divider"></div>
            <div class="unit">
				<label>字段类型：</label>
                <select id="ddlFieldType" custjs="procatattribute" class="combox" name="fieldType">
                    <option value="string" @((attInfo.FieldType == "string") ? "selected" : "")  >字符串</option>
                    <option value="text"  @((attInfo.FieldType == "text") ? "selected" : "") >长文本</option>
                    <option value="decimal"  @((attInfo.FieldType == "decimal") ? "selected" : "") >数值</option>
                    <option value="datetime"  @((attInfo.FieldType == "datetime") ? "selected" : "") >日期时间</option>
                    <option value="custom"  @((attInfo.FieldType == "custom") ? "selected" : "") >自定义枚举</option>
                </select>
                    <div id="divFieldBox1" style="display: @((attInfo.FieldType == "string" || attInfo.FieldType == "decimal") ? "block" : "none")">
                        <table width="200">
                        <tr>
                            <td width="120" style="padding-left:20px;">最小长度：</td><td><input type="text" name="minLength" size="10" value='@((attInfo.FieldMinLength == -1) ? "" : attInfo.FieldMinLength.ToString())' class="digits" /></td>
                        </tr>
                        <tr>
                            <td style="padding-left:20px;">最大长度：</td><td><input type="text" name="maxLength" size="10" class="digits"  value='@((attInfo.FieldMaxLength == -1) ? "" : attInfo.FieldMaxLength.ToString())'/></td>
                        </tr>
                        <tr>
                            <td style="padding:10px 0px 0px 20px;">默认值：</td><td style="padding:10px 0px 0px 0px;"><input type="text" name="defaultValue1" value="@attInfo.DefaultValue" size="10" class="text" /></td>
                        </tr>
                    </table>
                    </div> 
                    <div id="divFieldBox2"  style="display: @((attInfo.FieldType == "custom") ? "block" : "none")">
                        <table width="220">
                        <tr>
                            <td style="padding-left:20px; width:120px;" valign="top">列表值：</td>
                            <td><textarea name="customValue" cols="20" rows="4" >@attInfo.CustomValue</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:10px 0px 0px 20px;">默认值：</td><td style="padding:10px 0px 0px 0px;"><input type="text" name="defaultValue2" value="@attInfo.DefaultValue" size="10" class="text" /></td>
                        </tr>
                    </table>
                    </div>                   
			</div>
            <div class="divider"></div>
            <div class="unit">
				<label>是否显示：</label>
				<input type="radio" value="0" name="isdisplay" @((attInfo.IsDisplay == 0) ? "checked" : "") />是
                <input type="radio" value="1" name="isdisplay" @((attInfo.IsDisplay == 1) ? "checked" : "")  />否
			</div>             
            <div class="unit">
				<label>状态：</label>
				<input type="radio" value="0" name="Status" @((attInfo.Status == 0) ? "checked" : "")  />启用
                <input type="radio" value="1" name="Status"  @((attInfo.Status == 1) ? "checked" : "") />禁用
			</div>
            <div class="divider"></div>
			<div class="unit">
				<label>产品类型属性描述：</label>
				<textarea name="attDesc" cols="40" rows="2" >@attInfo.Description</textarea>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
