@using IBP.Common;
@using IBP.Models;
@using IBP.Services;
@{
    Layout = "";
    string outCallNumber = Request.QueryString["call"];
    string customerId = ViewBag.CustomerId as string;
    CustomDataDomainModel CardBank = CustomDataInfoService.Instance.GetCustomDataDomainModelByName("开卡行", false);
    CustomDataDomainModel CardCity = CustomDataInfoService.Instance.GetCustomDataDomainModelByName("开卡城市", false);
    CustomDataDomainModel ContactPurposeList = CustomDataInfoService.Instance.GetCustomDataDomainModelByName("联系记录(联系目的)", false);
    CustomDataDomainModel ContactResultList = CustomDataInfoService.Instance.GetCustomDataDomainModelByName("联系记录(联系结果)", false);
    CustomDataDomainModel IdCardType = CustomDataInfoService.Instance.GetCustomDataDomainModelByName("证件类型", false);
    ViewBag.TimeTag = customerId + "_" + DateTime.Now.ToString("yyyyMMddHHmmssfff");
}
<div class="pageContent">
    <form method="post" action="/CallCenter/DoNewCustomerContactInfo" class="pageForm required-validate"
    onsubmit="return validateCallback(this, dialogAjaxDone);">
    <div class="pageFormContent" layouth="56">
        <div class="information02">
            <input type="hidden" name="customerId" value="@ViewBag.CustomerId.Split('_')[0]" />
            <input type="hidden" name="timeTag" value="@ViewBag.CustomerId" />
            <h2>【@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")】发起外呼【@outCallNumber】，请处理</h2>
            <div class="New_box02">
                 <dl>
                         <span>
                             <dd>开卡行：</dd>
                             <dt>
                                <select name="openbank">
                                    @{
                                        if(CardBank != null && CardBank.ValueList.Count > 0)
                                        {
                                            foreach(CustomDataValueDomainModel item in CardBank.ValueList.Values)
                                            {
                                                <option value="@item.ValueId">@item.DataValue</option>
                                            }
                                        }
                                    }
                                </select>
                             </dt>
                         </span>
                         <span>
                            <dd>开户城市：</dd>
                            <dt> <select name="openAddress">
                                    @{
                                        if (CardCity != null && CardCity.ValueList.Count > 0)
                                        {
                                            foreach (CustomDataValueDomainModel item in CardCity.ValueList.Values)
                                            {
                                                <option value="@item.ValueId">@item.DataValue</option>
                                            }
                                        }
                                    }
                                </select></dt>
                         </span>  
                          <span>
                             <dd>邮编号码：</dd>
                              <dt><input name="postCode" class="text" value="" type="text" size="12" /></dt>
                         </span>  
                    </dl>
                <dl>
                    <dd>信用卡号码：</dd>
                    <dt style="width: 200px;">
                        <input name="creditCardNumber" txtcustomerid="@("CreditCard_" + ViewBag.TimeTag)" class="text" value="" readonly='readonly' style="width: 150px;"
                            type="text" size="12" />
                        <input name="btnGetCreditCardNumber"  style="width:40px;" value="获取" type="button" onclick="GetCreditCardNumber(this, '@ViewBag.TimeTag')"  customerid="@ViewBag.TimeTag" />
                    </dt>
                    <dd>安全码：</dd>
                    <dt style="width: 120px;">
                        <input name="securityCode" readonly='readonly'  txtcustomerid="@("SecurityCode_" + ViewBag.TimeTag)" class="text" value="" type="text"
                            size="12" />
                        <input name="btnGetSecurityCode" value="获取" style="width:40px;" type="button" onclick="GetSecurityCode(this, '@ViewBag.TimeTag')"   customerid="@ViewBag.TimeTag"/>
                    </dt>
                    <dd>有效期：</dd>
                    <dt style="width: 120px;">
                        <input name="periodCode" readonly='readonly' txtcustomerid="@("PeriodCode_" + ViewBag.TimeTag)" class="text" value="" type="text" size="12" />
                        <input name="btnGetPeriodCode" value="获取" style="width:40px;" type="button"  onclick="GetPeriodCode(this, '@ViewBag.TimeTag')" customerid="@ViewBag.TimeTag" />
                    </dt>
                </dl>
                <dl>
                    <span>
                        <dd>持卡人姓名：</dd>
                        <dt><input name="cardUsername" class="text required" value="" type="text" size="12" /></dt></span>
                    <span>
                        <dd>证件类型：</dd>
                        <dt>
                            <select name="idcardType" id="ddlIdCardType">
                                @{
                                    if (IdCardType != null && IdCardType.ValueList.Count > 0)
                                    {
                                        foreach (CustomDataValueDomainModel item in IdCardType.ValueList.Values)
                                        {
                                            <option value="@item.ValueId">@item.DataValue</option>
                                        }
                                    }
                                }
                            </select></dt>
                    </span><span style="width: 330px;">
                        <dd>证件号码：</dd>
                        <dt style="width: 220px;">
                            <input name="idCardNumber" readonly='readonly' txtcustomerid="@("IdCard_" + ViewBag.TimeTag)" class="text" value="" style="width: 170px;"
                                type="text" size="12" />
                            <input name="btnGetIdCardNumber" style="width:40px;" value="获取" type="button"  onclick="GetIdCardNumber(this, '@ViewBag.TimeTag')" customerid="@ViewBag.TimeTag" />
                        </dt>
                    </span>
                </dl>
                <dl>
                    <span><dd>应急通道：</dd>
                    <dt><input style="width:15px;" name="usSafeChannel" type="checkbox" />是否需要</dt>
                    </span>
                    <span>
                        <input name="btnSendToIntsunSystem" type="button" value="发送至盈实业务系统" onclick="SendToIntsunSystem(this, '@ViewBag.TimeTag')" customerid="@ViewBag.TimeTag"/>
                    </span>
                    <span>
                        <input name="btnSendToNoCardSystem" type="button" value="发送至无卡支付系统" onclick="SendToNoCardSystem(this, '@ViewBag.TimeTag')" customerid="@ViewBag.TimeTag"/>
                    </span>                    
                </dl>
                <dl>
                    <span style="width:300px;"><dd>佛山礼遇活动产品：</dd>
                        <dt style="width:200px;">
                            <select style="width:180px;" name="ddlFuoshan" name="ddlFuoshan" id="@("ddlFuoshanProduct_" + ViewBag.TimeTag)">
                                <option value="64">柏高日式汤锅</option>
                                <option value="65">中式花语密封罐三件组</option>
                                <option value="66">高档茶礼盒</option>
                                <option value="67">荧彩笛音水壶</option>
                            </select>
                        </dt>
                    </span>
                    <span>
                        <input style="width:130px;" name="btnSendToFuoShan" type="button" value="发送至佛山活动页面" onclick="SendToFuoShan(this, '@ViewBag.TimeTag')" customerid="@ViewBag.TimeTag"/>
                    </span>
                </dl>
                  <dl>
                        <dd>联系记录：</dd>
                        <dd>联系目的：</dd>
                        <dt>
                        <select  name="purpose">
                            @{
                                if (ContactPurposeList != null && ContactPurposeList.ValueList != null)
                                {
                                    foreach (CustomDataValueDomainModel item in ContactPurposeList.ValueList.Values)
                                    {                                     
                                     @:<option value="@item.ValueId">@item.DataValue</option>
                                 }
                                }
                            }
                        </select>
                        <select name="direction" style="display:none;">
                            <option value="1" selected>呼出</option>
                        </select>
                        </dt>
                        <dd>联系结果：</dd>
                        <dt>
                        <select  name="result">
                            @{
                                if (ContactResultList != null && ContactResultList.ValueList != null)
                                {
                                    foreach (CustomDataValueDomainModel item in ContactResultList.ValueList.Values)
                                    {
                                     @:<option value="@item.ValueId">@item.DataValue</option>
                                 }
                                }
                            }
                        </select>
                        </dt><input type="radio" style="width:15px; display:none;" selected  value="OtherNumber" name="contactPhone" />
                             <input type="text" style="width:80px; display:none;" name="otherNumber" value="@outCallNumber" /> 
                        
                   </dl>       
                <dl>
                    <dd>联系记录：</dd>
                    <dt style="width:500px; height:50px;"><textarea name="contactDesc" cols="88" rows="2"></textarea></dt>
                </dl>
            </div>
        </div>
    </div>
    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent"><button type="submit">保存联系记录</button></div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent"><button type="button" class="close">取消</button></div>
                </div>
            </li>
        </ul>
    </div>
    </form>
</div>
