@using IBP.Models;
@using IBP.Services;

@{
    Layout = "";
    ProductCategoryInfoModel catInfo = (Request.QueryString["catid"] == null) ? null : ProductCategoryInfoService.Instance.GetProductCategoryInfoById(Request.QueryString["catid"]);
    Dictionary<string, ProductCategorySalesStatusModel> dict = (Request.QueryString["catid"] == null) ? null : ProductCategorySalesStatusService.Instance.GetProductCategorySalesStatusList(Request.QueryString["catid"], false);
}
<div class="pageHeader" style="border-left:1px #B8D0D6 solid">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
                    @{
                        if (catInfo == null)
                        {
                            @:请从左侧列表中选择一个产品类型名称
                        }
                        else
                        {
                            @:【@catInfo.CategoryName】 - 销售状态管理
                        }
                    }
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="pageContent" style="border-left:1px #B8D0D6 solid;">
          <div class="panelBar">
		    <ul class="toolBar">
            @{
                if (catInfo != null)
                {
			        <li><a target="dialog" maxable="false"  class="add" href="/ProductCenter/NewProductCategorySaleStatus?catid=@catInfo.ProductCategoryId" rel="proSaleStatusListBox" title="添加产品类型销售状态" mask="true" width="550" height="320"><span>添加</span></a></li>
			        <li><a target="dialog" maxable="false" class="edit" href="/ProductCenter/EditProductCategorySaleStatus?id={sid_obj}" rel="proSaleStatusListBox" title="编辑产品类型销售状态成员" mask="true" width="550" height="320"><span>编辑</span></a></li>
			        <li><a class="delete" href="#" target="ajax" title="确定要删除选中枚举值成员吗?"><span>删除</span></a></li>
			        <li class="line">line</li>
			        <li><a class="edit" href="/ProductCenter/MoveUpProductCategorySaleStatus?id={sid_obj}" target="ajaxTodo" title="确定要上移选中成员吗?"><span>上移</span></a></li>
			        <li><a class="edit" href="/ProductCenter/MoveDownProductCategorySaleStatus?id={sid_obj}" target="ajaxTodo" title="确定要下移选中成员吗?"><span>下移</span></a></li>
 		     
               }
            }
               </ul>
	       </div>
	<table class="table" width="99%" layoutH="110">
		<thead>
			<tr>
				<th>序号</th>
				<th>销售状态名称</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>描述</th>
			</tr>
		</thead>
		<tbody>
            @{
                if (dict != null && dict.Count > 0)
                {
                    foreach (ProductCategorySalesStatusModel item in dict.Values)
                    {
                        @:<tr target="sid_obj" rel="@(item.SalesStatusId + "|" + item.ProductCategoryId)">
                            @:<td>@item.SortOrder</td>
                            @:<td>@item.SalestatusName</td>
                            @:<td>@((item.Status == 0) ? "启用" : "禁用")</td>
                            @:<td>@item.CreatedOn</td>
                            @:<td>@item.Description</td>
                        @:</tr>
                    }                   
                }
            }
		</tbody>
	</table>
	<div class="panelBar">

	</div>
</div>