@using IBP.Common;
@using IBP.Models;
@using IBP.Services;

@{
    Layout = "";
    CustomDataDomainModel SaleCity = CustomDataInfoService.Instance.GetCustomDataDomainModelByName("销售城市", false);
    List<SalesPackageInfoModel> SalePackageList = ViewBag.SalePackageList as List<SalesPackageInfoModel>;
}

<form id="pagerForm" method="post" action="/BusinessCenter/SalePackageManager">
	<input type="hidden" name="pageNum" value="@ViewBag.PageIndex" />
	<input type="hidden" name="numPerPage" value="@ViewBag.PageSize" />
	<input type="hidden" name="orderField" value="@ViewBag.OrderField" />
    <input type="hidden" name="orderDirection" value="@ViewBag.OrderDirection" />
</form>


<div id="salePackageBox" class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="/BusinessCenter/SalePackageManager" method="post">
	<div class="searchBar">
		
        <div class="searbg">
            <dl style="width:180px;"><dd>销售城市：</dd><dt>
            <select name="cityId">
                    <option value="">所有城市</option>
                    @{
                        if (SaleCity != null)
                        {
                            foreach (CustomDataValueDomainModel item in SaleCity.ValueList.Values)
                            {
                                <option value="@item.ValueId" @CommonUtil.SetComboxSelected(item.ValueId, ViewBag.CityId) >@item.DataValue</option>
                            }
                        }
                    }
					</select>
                    </dt></dl>
                <dl><dd>销售项目：</dd><dt><input type="text" name="packageName" value="@ViewBag.PackageName" /></dt></dl> 
          <div class="searbgcha"><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></div>

        </div>
	</div>
	</form>
</div>

<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="/BusinessCenter/AddSalePackageInfo" target="dialog" maxable="false" rel="salePackageBox" title="新建销售项目信息" mask="true" width="840" height="600"><span>新建</span></a></li>
			<li><a class="edit" href="/BusinessCenter/EditSalePackageInfo?spid={sp_id}" target="dialog" maxable="false" rel="salePackageBox" title="编辑销售项目信息" mask="true" width="840" height="600"><span>编辑</span></a></li>
			<li><a title="确实要删除这些记录吗?" target="selectedTodo" rel="ids" href="/BusinessCenter/DoBatchDeleteSalePackageInfo" class="delete"><span>删除</span></a></li>
		</ul>
	</div>
	<table class="table" layoutH="115" width="1600">
		<thead>
			<tr>
				<th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th width="200" @CommonUtil.SetSortOrder("package_name", ViewBag.OrderField, ViewBag.OrderDirection) >销售项目名称</th>
                <th width="80" @CommonUtil.SetSortOrder("sales_city_name", ViewBag.OrderField, ViewBag.OrderDirection) >销售城市</th>
				<th width="60" @CommonUtil.SetSortOrder("location", ViewBag.OrderField, ViewBag.OrderDirection) >产品定位</th>
				<th width="80" @CommonUtil.SetSortOrder("begin_time", ViewBag.OrderField, ViewBag.OrderDirection) >有效起始时间</th>
				<th width="80" @CommonUtil.SetSortOrder("end_time", ViewBag.OrderField, ViewBag.OrderDirection) >有效截止时间</th>
				<th width="90" @CommonUtil.SetSortOrder("price_total", ViewBag.OrderField, ViewBag.OrderDirection) >业务总额</th>
				<th width="90" @CommonUtil.SetSortOrder("sale_price", ViewBag.OrderField, ViewBag.OrderDirection)  >购机金额</th>
				<th width="70" @CommonUtil.SetSortOrder("stored_price", ViewBag.OrderField, ViewBag.OrderDirection)  >预存话费</th>
				<th width="70" @CommonUtil.SetSortOrder("return_months", ViewBag.OrderField, ViewBag.OrderDirection)  >返还月数</th>
				<th width="70" @CommonUtil.SetSortOrder("month_return_price", ViewBag.OrderField, ViewBag.OrderDirection)  >每月返还</th>
				<th width="70" @CommonUtil.SetSortOrder("month_keep_price", ViewBag.OrderField, ViewBag.OrderDirection)  >每月补存</th>
				<th width="70" @CommonUtil.SetSortOrder("stages", ViewBag.OrderField, ViewBag.OrderDirection)  >分期数</th>
				<th width="70" @CommonUtil.SetSortOrder("stage_price", ViewBag.OrderField, ViewBag.OrderDirection)  >每期金额</th>
				<th width="200" @CommonUtil.SetSortOrder("remark", ViewBag.OrderField, ViewBag.OrderDirection)  >备注</th>
			</tr>
		</thead>
		<tbody>
            @{
                if (SalePackageList != null)
                {
                    foreach (SalesPackageInfoModel item in SalePackageList)
                    {
			            <tr target="sp_id" rel="@item.SalesPackageId">
                            <td><input name="ids" value="@item.SalesPackageId" type="checkbox"></td>
				            <td>@item.PackageName</td>
                            <td>@item.SalesCityName</td>
				            <td>@item.Location</td>
				            <td>@((item.BeginTime != null) ? Convert.ToDateTime(item.BeginTime).ToString("yyyy-MM-dd") : "")</td>
				            <td>@((item.EndTime != null) ? Convert.ToDateTime(item.EndTime).ToString("yyyy-MM-dd") : "")</td>				            
				            <td>@item.PriceTotal</td>
				            <td>@item.SalePrice</td>
				            <td>@item.StoredPrice</td>
                            <td>@item.ReturnMonths</td>
                            <td>@item.MonthReturnPrice</td>
                            <td>@item.MonthKeepPrice</td>
                            <td>@item.Stages</td>
                            <td>@item.StagePrice</td>
                            <td>@item.Remark</td>
			            </tr>                        
                    }
                }
            }
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
				<option value="20" @CommonUtil.SetComboxSelected(20, ViewBag.PageSize) >20</option>
				<option value="50" @CommonUtil.SetComboxSelected(50, ViewBag.PageSize) >50</option>
				<option value="100" @CommonUtil.SetComboxSelected(100, ViewBag.PageSize) >100</option>
				<option value="200" @CommonUtil.SetComboxSelected(200, ViewBag.PageSize) >200</option>
			</select>
			<span>条，共 @ViewBag.SalePackageTotal 条</span>
		</div>		
		<div class="pagination" targetType="navTab" totalCount="@ViewBag.SalePackageTotal" numPerPage="@ViewBag.PageSize" pageNumShown="10" currentPage="@ViewBag.PageIndex"></div>
	</div>
</div>
