@using IBP.Common;
@using IBP.Models;
@using IBP.Services;
@using Framework.Utilities;
@{
    Layout = "";
    string citUserId = SessionUtil.Current.UserId;
   UserDomainModel userInfo = UserInfoService.Instance.GetUserDomainModelById(citUserId, false);
}


<div class="pageContent">
	<form method="post" action="/System/DoUpdateUserInfo" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="56">
          <input type="hidden" name="UserId" value="@citUserId" />
			<p>
				<label>登录账号：</label>
				<input name="login_name" class="required" type="text" size="30" readonly value="@userInfo.BasicInfo.LoginName.Replace("LOGINNAME_", "")" />
			</p>
			<p>
				<label>登录密码：</label>
				<input name="login_pwd" class="required alphanumeric" minlength="6" maxlength="20"  type="password" size="30" value="@userInfo.BasicInfo.LoginPwd" />
			</p>
			<p>
				<label>CTI账号：</label>
                <input name="cti_user_id" class="required" type="text" size="30" readonly="true" value="@userInfo.BasicInfo.CtiUserId" />
			</p>
			<p>
				<label>CTI密码：</label>
				<input name="cti_user_pwd" class="required alphanumeric" minlength="6" maxlength="20"  type="password" size="30" value="@userInfo.BasicInfo.CtiUserPwd" />
			</p>
			
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>

